/* .body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.josefine {
  font-family: 'Josefin Sans', sans-serif;
}

.merriweather {
  font-family: 'Merriweather', serif;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50%;
}

.bar {
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  background: lightblue;
  color: white;
}

.js {
  width: 90%;
}

.devops {
  width: 85%;
}

.java {
  width: 65%;
}

.python {
  width: 50%;
}

.clojure {
  width: 70%;
}

.xp-bar1 {

}

.xp-bar1::before {
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: gray;
}

.xp-marker-left {
  width: 33%;
  display: inline-block;
  font-size: 1.2em;
  color: gray;
  float: left;
}

.xp-marker-left::before {
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-left: 0;
  background: gray;
}

.xp-marker-right {
  text-align: right;
  width: 34%;
  display: inline-block;
  font-size: 1.2em;
  color: gray;
  float: left;
}

.xp-marker-right::before {
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-right: -1px;
  background: gray;
}

.contact-icon {
  display: inline-block;
  padding: 10px;
  padding-top: 0;
  opacity: 0.5;
  /*font-size: 2em;*/
}

.github {
  font-size: 2em;
}

.phone {
  font-size: 2.2em;
}

.email {
  font-size: 1.7em;
}

.twitter {
  font-size: 1.85em;
}

.linkedin {
  font-size: 2.0em;
}

.contact-item {
  border-left: 1px solid #aaa;
  display: inline-block;
  padding: 10px;
  margin: 0;
}

/*h4 {
  text-align: left;
}*/

.company {
  /*position: relative;*/
  /*width: 75vw;*/
  /*padding-left: 30px;*/
  /*padding-left: -0px;*/
  /*text-align: left;*/
}

.company-name {
  display: inline;
  /*text-align: left;*/
  padding-left: 15px;
  /*padding-right: 30px;*/
}

.company-time {
  display: inline;
  /*right: 0;*/
  padding-left: 10px;
  /*text-align: right;*/
  /*padding-left: 15px;*/
  /*padding-right: 30px;*/
}

.company-logo {
  display: inline;
  /*height: 20px;
  width: 40px;*/
}

.nike {
  width: 40px;
  height: 15px;
}

.intel {
  width: 40px;
  height: 30px;
}

.columbia {
  width: 40px;
  height: 28px;
}

.up {
  width: 40px;
  height: 25px;
}

.cambia {
  height: 40px;
  width: 80px;
}

.square {
  height: 40px;
  width: 40px;
}
